
#box{

  color: white;
  height:  400px;
  width: 600px
  border 3px solid red;
  background-image: url(https://images.pexels.com/photos/2077378/pexels-photo-2077378.jpeg?cs=srgb&dl=beautiful-beauty-daylight-2077378.jpg&fm=jpg)no-repeat center center/cover;

}
h3 {

  border: 5px solid red;

  border: 4px dotted blue;
}

div {
  border: double;
}

h2{
  background-color: lightblue;
  border-left-style: double ;
  border-left-color: red;


}
h3
{
background-color: orange;
background-position: right bottom;

}
